# Notebooks
.ipynb_checkpoints
Notebooks/others/
Notebooks/TestFunctionalities.ipynb 

# docs
docs/

# Python
__pychache__

# flask sessions
flask_session/

# Distribution / packaging
data/

# Unused files
app/flask_session/
app/__pycache__/
app/templates/old_success.html

# VSCode
.vscode

