# Distribution / packaging
data/

# Jupyter Notebook
.ipynb_checkpoints
Notebooks/Untitled.ipynb 
Notebooks/NLP_Tutorial.ipynb 
Notebooks/Tutorial.ipynb

# Unused files
app/old_model.py

# VSCode
.vscode

# Python
__pychache__
app/__pycache__/app.cpython-310.pyc
app/__pycache__/model.cpython-310.pyc
app/flask_session/318c32e564669b0838e86733f9751ff3


# Pictures
app/static/Blue_plate.png
app/static/Blue_plate.svg
app/static/Cartoon_Spoon.svg
app/static/Chrisdesign_Onion.svg
app/static/Erbsen.svg
app/static/Loeffel-Holz.svg
app/static/Tomate.svg
app/static/Topf-coloured.svg
app/static/What-to-cook.svg
app/static/broccoli-plant-publicdomainvectors.org.ai
app/static/broccoli-plant-publicdomainvectors.org.eps
app/static/broccoli-plant-publicdomainvectors.org.zip

# Word Documents
ElevatorPitch.docx
.~lock.ElevatorPitch.docx#